a {
    text-decoration: none;
}

.wd-page-bookmarks-background {
    background-color: black;
    padding-left: 16px;
    margin-top: 5px;
}

.wd-box-border-bookmark {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(47, 51, 54);
    width: 582px;
}

.wd-box-border-bookmark0 {
    border-left: 1px solid rgb(47, 51, 54);
    border-right: 1px solid rgb(47, 51, 54);
    width: 582px;
}

.wd-box-border-bookmark1 {
    border-left: 1px solid rgb(47, 51, 54);
    border-right: 1px solid rgb(47, 51, 54);
    width: 582px;
}

.wd-box-border-bookmark2 {
    border-left: 1px solid rgb(47, 51, 54);
    border-right: 1px solid rgb(47, 51, 54);
    border-top: 1px solid rgb(47, 51, 54);
    width: 582px;
}

.wd-box-border-bookmark3 {
    border-left: 1px solid rgb(47, 51, 54);
    border-right: 1px solid rgb(47, 51, 54);
    border-bottom: 1px solid rgb(47, 51, 54);
    width: 582px;
}

.wd-padding-bookmark-ABCD {
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.wd-box-border-bookmark .dots {
    float: right;
    color: rgb(29, 161, 242);
    padding-right: 22px;
}

.wd-box-border-bookmark0 .dot {
    float: right;
    color: darkgray;
}

.wd-box-border-bookmark2 .dot1 {
    float: right;
    color: darkgray;
}

.wd-title-bookmarks {
    color: white;
    font-size: 20px;
    font-family: Arial, serif;
    font-weight: bold;
}

.wd-handle-bookmarks {
    color: lightgray;
    font-size: 13px;
    font-family: Arial, serif;
}

.wd-avatar-bookmark {
    float: left;
    display: inline-block;
    border-radius: 48px;
}

.wd-author-handle-bookmark {
    max-width: 500px;
    display: inline-block;
    vertical-align: top;
    padding-left: 12px;
    padding-right: 16px;
    color: lightgray;
    font-size: 15px;
    font-family: Arial, serif;
}

.wd-box-border-image-bookmark {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(47, 51, 54);
    width: 504px;
    position: relative;
    top: 12px;
}

.wd-author-name-white-bookmark {
    color: white;
    font-weight: bold;
    font-family: Arial, serif;
}

.wd-text-white-bookmark {
    position: relative;
    color: white;
    font-size: 15px;
    font-family: Arial, serif;
}

.wd-rounded-bookmark {
    border-radius: 12px;
}

.wd-rounded-bookmark1 {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom: 1px solid rgb(47, 51, 54);
}

.wd-padding-bookmark {
    display: inline-block;
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 12px;
}

.wd-padding-bookmark-gray {
    display: inline-block;
    margin: 12px;
}

.wd-comment-padding-bookmark {
    padding-left: 18px;
}

.wd-bold-white-bookmark {
    color: white;
    font-size: 15px;
}

.wd-lightgray15-bookmark {
    color: lightgray;
    font-size: 15px;
}

.wd-lightgray-bookmark {
    color: lightgray;
}

.wd-icon-red-bookmark {
    color: red;
}

.wd-flex-bookmark {
    flex: auto;
    display: flex;
    justify-content: space-around;
    padding: 12px 8px 8px;
}

.wd-padding-left-bookmark {
    padding-left: 12px;
}
